
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="d-flex">
        <div class="p-2">Item 1</div>
        <div class="p-2">Item 2</div>
        <div class="p-2">Item 3</div>
    </div>

</body>
</html>
