html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.colour-0 {
    color: var(--theme-colour-0)
}

.colour-1 {
    color: var(--theme-colour-1)
}

.bg-colour-0 {
    background-color: var(--theme-colour-0)
}

.bg-colour-1 {
    background-color: var(--theme-colour-1)
}